*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgb(25, 25, 25);
}

header {
  background-color: rgb(25, 25, 25);
}

.container {
  margin: 0 auto;
  max-width: 1800px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 12;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

/* .nav-item {
  list-style: none;
  color: rgb(175, 175, 175);
  padding: 10px;
} */

.nav-link + .nav-link {
  margin-left: 10px;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: rgb(175, 175, 175);
}

.icon {
  display: none;
}

.nav-link:hover {
  opacity: 0.8;
}

.logo {
  font-size: 1.5rem;
  padding: 5px;
  color: rgb(175, 175, 175);
}

.recommended-sect {
  height: 350px;
  width: 100%;
  background-color: rgb(75, 75, 75);
}

#recommended-slider {
  position: relative;
  border-radius: 15px;
  background-size: 99%;
  background-repeat: repeat;
  background-position: right;
  z-index: 1;
  overflow: hidden;
}

#recommended-slider::after {
  display: block;
  position: absolute;
  border-radius: 11px;
  background-image: linear-gradient(
    to bottom,
    rgb(17, 17, 17) 0,
    rgba(255, 255, 255, 0) 50%,
    rgba(17, 17, 17, 1) 100%
  );
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}

#recommended-slider::before {
  border-radius: 15px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

#slider {
  display: flex;
  position: absolute;
  height: 350px;
  max-width: 1800px;
  width: 100%;
  z-index: 10;
}

.slide-image {
  position: absolute;
  width: 19%;
  border-radius: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  height: 350px;
  z-index: 10;
  opacity: 0;
  transition: 500ms ease-in-out;
}

.fade-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 12;
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.slide-info {
  position: absolute;
  width: 80%;
  height: inherit;
  left: 20%;
  overflow: scroll;
}

.slide-info h1 {
  font-size: 3rem;
  color: rgb(214, 213, 213);
  text-shadow: 2px 2px black;
  width: fit-content;
}

.slide-info a {
  text-decoration: none;
}

.slide-info a:hover {
  opacity: 0.8;
}

.slide-info h1:hover {
  cursor: pointer;
}

.slide-info p {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px black;
}

div[class^="slide-info"] {
  visibility: hidden;
}

div[class^="slide-info"][data-active] {
  visibility: visible;
}

div[class^="slide"][data-active] {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  z-index: 11;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.75);
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.next {
  right: 0px;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-bar {
  width: 100%;
  font-size: 2rem;
  margin: 30px auto;
  text-align: center;
  outline: none;
  background-color: rgb(50, 50, 50);
  border: 1px solid black;
  color: rgb(175, 175, 175);
}

.search-btn {
  color: rgb(175, 175, 175);
  opacity: 0.6;
  font-size: 2rem;
  border: none;
  background: none;
  position: relative;
  left: 48%;
  top: -2px;
  transform: translateY(-90px);
}

.search-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.filter-dropdown {
  width: 30%;
  font-size: 1.1rem;
  text-align: center;
  background-color: rgb(50, 50, 50);
  color: rgb(175, 175, 175);
  border: none;
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1800px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  text-shadow: 1px 1px black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 290px;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 1px 1px rgb(25, 25, 25);
  text-align: center;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(228, 228, 228, 0) 0,
    rgba(255, 255, 255, 0) 50%,
    rgb(3, 3, 3) 100%
  );
  border-radius: 14px;
}

.card h4 {
  z-index: 11;
}

.page-container {
  width: 50%;
  height: 20%;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

a.active {
  color: blue;
  text-decoration: underline;
}

.page-container a {
  margin: 5px;
}

.page-container a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search-heading {
  color: rgb(175, 175, 175);
}

.info-card {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 350px 1fr;
  margin: 0 auto;
  width: 1000px;
  position: fixed;
  z-index: 12;
  /* height: 950px; */
  background-color: transparent;
  border-radius: 20px;
  visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-close-button {
  position: absolute;
  top: .5%;
  left: 96.5%;
  background: none;
  border: none;
  font-size: 2rem;
}

.info-close-button:hover {
  cursor: pointer;
  color: rgb(175, 175, 175);
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.titles-container {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin-right: 4px;
  margin-top: 4px;
  padding: 10px;
  border: 0.5px solid rgb(17, 17, 17);
  text-align: left;
  font-size: 1.2rem;
}

.titles-container p:nth-of-type(1) {
  padding-top: 40px;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.titles-container h1 {
  font-size: 2rem;
  text-align: center;
}

.titles-container a {
  text-align: center;
  color: rgb(175, 175, 175);
}

.synopsis-container {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 10px;
  border: 0.5px solid rgb(17, 17, 17);
  font-size: 1.2rem;
}

.more-info--container ul {
  text-align: left;
  list-style-type: none;
  padding: 20px;
}

.more-info--container {
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 10px;
  border: 0.5px solid rgb(17, 17, 17);
}

.more-info--container button {
  width: 45%;
  border-radius: 20px;
  background-color: rgb(25, 25, 25);
  color: white;
  font-size: 1rem;
  height: 21px;
  border: none;
}

.more-info--container button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.more-info--container p {
  border-bottom: 1px solid rgb(50, 50, 50);
}

#not-blurred {
  pointer-events: all;
}

.fav-side-bar {
  height: 100vh;
  width: 20%;
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  transform: translate(100%);
  display: none;
  background-color: rgb(25, 25, 25);
  text-align: center;
  color: rgb(175, 175, 175);
  box-shadow: -5px 5px 20px -8px rgb(175, 175, 175);
}

.fav-close-button {
  position: absolute;
  top: 0%;
  left: -7%;
  background-color: rgb(25, 25, 25);
  border: none;
  width: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
  font-size: 2rem;
  color: white;
  box-shadow: -10px 5px 20px -8px rgb(175, 175, 175);
}

.fav-close-button:hover {
  cursor: pointer;
  scale: 1.2;
}

.remove-fav-btn {
  z-index: 11;
  position: absolute;
  left: 4%;
  background-color: rgb(50, 50, 50);
  border: none;
  padding: 5px;
  /* top: 5px; */
  transform: translateY(-4px);
  border-radius: 5px;
  visibility: hidden;
}

.fav-link:hover .remove-fav-btn {
  visibility: visible;
}

.remove-fav-btn:hover {
  cursor: pointer;
  opacity: 1.1;
  color: white;
}

#ul {
  list-style-type: none;
  margin-top: 20px;
  /* overflow-x: hidden; */
}

#ul li + li {
  margin-top: 5px;
}

#ul li {
  display: block;
  padding: 5px;
  color: rgb(214, 213, 213);
  background-color: rgb(17, 17, 17);
  width: 100%;
}

#ul li:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: translate(5px);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: rgb(17, 17, 17);
  color: rgb(175, 175, 175);
  padding: 5px;
  top: 0px;
  right: 105%;
  border-radius: 5px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(17, 17, 17);
}

li:hover .tooltip {
  visibility: visible;
}

@keyframes moveToCenter {
  from {
    left: -100%;
    top: 100%;
    scale: 0.1;
  }
  to {
    left: 50%;
    top: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* Adjusts the position so the center of the div, not its top-left corner, is at the center of the screen */
    scale: 1;
  }
}
@media (max-width: 1800px) {
  .grid-container {
    max-width: 1600px;
  }
  .container {
    max-width: 1600px;
  }
}
@media (max-width: 1600px) {
  .grid-container {
    max-width: 1400px;
  }
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 1366px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1166px;
  }
  .container {
    max-width: 1166px;
  }
  .slide-image {
    background-size: cover;
  }
  .info-card {
    max-height: 600px;
    gap: 2px;
    margin: 0;
  }
  .synopsis-container {
    overflow-y: scroll;
  }
}
@media (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 944px;
  }
  .info-card {
    display: block;
    overflow-y: scroll;
    width: 100%;
  }
  .info-close-button {
    left: 93%;
    position: sticky;
    color: white;
  }
}
@media (max-width: 800px) {
  .grid-container {
    display: block;
    margin: 0 auto;
  }
  .card {
    margin: 25px auto;
  }
  #search-bar {
    width: 80%;
  }
  .search-btn {
    left: 32%;
    top: -0px;
  }
  .filter-box {
    width: 80%;
  }
  .filter-dropdown {
    font-size: 1rem;
  }
  .slide-image {
    display: none;
    position: absolute;
    width: 80%;
    height: 60%;
    background-position: center;
    background-size: cover;
    left: 10%;
  }
  .slide-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 0;
    width: 100%;
    /* height: 100px; */
  }
  .slide-info h1 {
    margin: 40px auto;
  }
  .info-synopsis {
    display: none;
  }
  #slider {
    text-align: center;
  }
  #recommended-slider {
    width: 80%;
    height: 200px;
  }
  #recommended-slider::before {
    filter: blur(0px);
    width: 100%;
  }
  .carousel-button {
    top: 25%;
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .slide-info h1 {
    font-size: 1.5rem;
  }
  .carousel-button {
    font-size: 2rem;
    padding: 0;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
  }
  .fav-side-bar {
    width: 50%;
  }
  .fav-close-button {
    left: -15%;
  }
}
